doctype html
html
	head
		meta(charset="utf-8")
		meta(name="viewport",content="width=device-width,initial-scale=1.0,user-scalable=no")
		meta(http-equiv="Content-Type",content="text/html")
		meta(http-equiv="X-UA-Compatible",content="IE=edge,chrome=1")
		title= title
		link(rel="stylesheet", href="http://127.0.0.1:3000/aceadmin/assets/css/ace-rtl.min.css")
		link(rel="stylesheet", href="http://127.0.0.1:3000/aceadmin/assets/css/datepicker.css")
		link(rel="stylesheet", href="http://127.0.0.1:3000/aceadmin/assets/css/jquery.gritter.css")
		link(rel="stylesheet", href="http://127.0.0.1:3000/aceadmin/assets/css/colorbox.css")
		link(rel="stylesheet", href="http://127.0.0.1:3000/aceadmin/assets/css/chosen.css")
		link(rel="stylesheet", href="http://127.0.0.1:3000/aceadmin/assets/css/jquery-ui.custom.min.css")
		link(rel="stylesheet", href="http://127.0.0.1:3000/aceadmin/assets/css/colorpicker.css")
		link(rel="stylesheet", href="http://127.0.0.1:3000/aceadmin/assets/css/bootstrap.min.css")
		link(rel="stylesheet", href="http://127.0.0.1:3000/aceadmin/assets/css/jquery-ui.min.css")
		link(rel="stylesheet", href="http://127.0.0.1:3000/aceadmin/assets/css/ui.jqgrid.css")
		link(rel="stylesheet", href="http://127.0.0.1:3000/aceadmin/assets/css/ace-fonts.css")
		link(rel="stylesheet", href="http://127.0.0.1:3000/aceadmin/assets/css/ace.min.css")
		link(rel="stylesheet", href="http://127.0.0.1:3000/aceadmin/assets/css/daterangepicker.css")
		link(rel="stylesheet", href="http://127.0.0.1:3000/aceadmin/assets/css/bootstrap-timepicker.css")
		<!--[if lte IE 9]>
		link(rel="stylesheet", href="http://127.0.0.1:3000/aceadmin/assets/css/ace-part2.min.css")
		<![endif]-->
		<!--[if lte IE 9]>
		link(rel="stylesheet", href="http://127.0.0.1:3000/aceadmin/assets/css/ace-ie.min.css")
		<![endif]-->
		link(rel="stylesheet", href="http://127.0.0.1:3000/aceadmin/assets/css/font-awesome.min.css")
		link(rel="stylesheet", href="http://127.0.0.1:3000/aceadmin/assets/css/ace.onpage-help.css")
		//-link(rel="stylesheet", href="./aceadmin/assets/css/ace-skins.min.css")//-only if needed 使用非默认皮肤
		script(src="http://127.0.0.1:3000/aceadmin/assets/js/jquery.min.js")
		script(src="http://127.0.0.1:3000/aceadmin/assets/js/ace-extra.min.js")
		<!--[if lte IE 8]>
		script(src="http://127.0.0.1:3000/aceadmin/assets/js/html5shiv.min.js")
		script(src="http://127.0.0.1:3000/aceadmin/assets/js/respond.min.js")
		<![endif]-->
	block content	
	body.no-skin(style={"font-family":"Microsoft YaHei,微软雅黑,MicrosoftJhengHei,华文细黑,STHeiti,MingLiu"})
		block script
			<!--[if lte IE 9]>
			script(src="http://127.0.0.1:3000/aceadmin/assets/js/jquery1x.min.js")
			<![endif]-->
			script(src="http://127.0.0.1:3000/aceadmin/assets/js/bootstrap.min.js")
			<!--[if lte IE 8]>
			script(src="http://127.0.0.1:3000/aceadmin/assets/js/excanvas.min.js")
			<![endif]-->
			script(src="http://127.0.0.1:3000/aceadmin/assets/js/chosen.jquery.min.js")
			//-script(src="http://127.0.0.1:3000/aceadmin/assets/js/plugin2.min.js")
			//-script(src="http://127.0.0.1:3000/aceadmin/assets/js/plugin3.min.js")//第三方插件引入
			script(src="http://127.0.0.1:3000/aceadmin/assets/js/ace-elements.min.js")
			script(src="http://127.0.0.1:3000/aceadmin/assets/js/ace.min.js")
			script(src="http://127.0.0.1:3000/aceadmin/assets/js/date-time/bootstrap-datepicker.min.js")
			script(src="http://127.0.0.1:3000/aceadmin/assets/js/jquery.gritter.min.js")
			script(src="http://127.0.0.1:3000/aceadmin/assets/js/jquery.colorbox-min.js")
			script(src="http://127.0.0.1:3000/aceadmin/assets/js/jquery.maskedinput.min.js")
			script(src="http://127.0.0.1:3000/aceadmin/assets/js/jquery-ui.custom.min.js")
			script(src="http://127.0.0.1:3000/aceadmin/assets/js/fuelux/fuelux.spinner.min.js")
			script(src="http://127.0.0.1:3000/aceadmin/assets/js/date-time/moment.min.js")
			//- monment.min.js是daterangepicker.min.js的依赖
			script(src="http://127.0.0.1:3000/aceadmin/assets/js/date-time/daterangepicker.min.js")
			script(src="http://127.0.0.1:3000/aceadmin/assets/js/date-time/bootstrap-timepicker.min.js")
			script(src="http://127.0.0.1:3000/aceadmin/assets/js/bootstrap-colorpicker.min.js")
			script(src="http://127.0.0.1:3000/aceadmin/assets/js/jquery.knob.min.js")
			script(src="http://127.0.0.1:3000/aceadmin/assets/js/fuelux/fuelux.wizard.min.js")
			script(src="http://127.0.0.1:3000/aceadmin/assets/js/fuelux/fuelux.tree.min.js")
			script(src="http://127.0.0.1:3000/aceadmin/assets/js/bootbox.min.js")
			script(src="http://127.0.0.1:3000/aceadmin/assets/js/jquery.validate.min.js")
			script(src="http://127.0.0.1:3000/aceadmin/assets/js/spin.min.js")
			script(src="http://127.0.0.1:3000/aceadmin/assets/js/jqGrid/jquery.jqGrid.min.js")
			script(src="http://127.0.0.1:3000/aceadmin/assets/js/jqGrid/i18n/grid.locale-cn.js")
			script(src="http://127.0.0.1:3000/javascripts/home.js")
			script(src="http://127.0.0.1:3000/javascripts/staff/staff_op2.js")
			script(src="http://127.0.0.1:3000/javascripts/commodity/commodity_op1.js")