extends layout

block content
	body.no-skin
		div.navbar#navbar
		div.main-container#maincontainer
			div.sidebar.responsive#sidebar
			div.main-content#main-content
				div.breadcrumbs
				div.page-content
					div.row
						div.col-xs-12
		script(src="http://127.0.0.1:3000/javascripts/home.js")